In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib

In [4]:
data= pd.read_csv("C:/Users\Balaji/Desktop/sd/StudentsPerformance.csv")

In [5]:
#undrstnding the data
data.sample(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
211,male,group C,some college,free/reduced,none,35,28,27
206,male,group E,bachelor's degree,standard,none,82,62,62
927,female,group D,high school,free/reduced,completed,65,61,71
190,female,group E,associate's degree,standard,none,66,65,69
647,female,group E,high school,free/reduced,none,64,62,68
984,female,group C,some high school,standard,none,74,75,82
416,male,group C,bachelor's degree,standard,completed,71,74,68
475,female,group D,bachelor's degree,standard,completed,71,76,83
80,female,group B,associate's degree,standard,none,47,49,50
809,male,group B,bachelor's degree,standard,none,59,54,51

In [9]:
data['gender', 'math score']

KeyError: ('gender', 'math score')

In [7]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
data.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [10]:
data.sample(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
330,male,group C,high school,standard,none,71,60,61
192,female,group B,some high school,standard,none,62,64,66
807,female,group E,high school,free/reduced,none,41,45,40
837,female,group A,high school,standard,completed,75,82,79
174,female,group C,bachelor's degree,free/reduced,completed,43,51,54
907,female,group D,some college,standard,completed,79,84,91
286,male,group E,associate's degree,standard,completed,97,82,88
203,female,group B,associate's degree,standard,none,57,69,68
924,male,group D,high school,free/reduced,none,74,70,69
725,male,group E,some college,standard,completed,81,74,71

In [12]:
data.shape

(1000, 8)

In [13]:
data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [14]:
data.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [2]:
data.nunique()

NameError: name 'data' is not defined

In [17]:
data['gender'].unique()

array(['female', 'male'], dtype=object)

In [ ]:
#data cleaning

In [18]:
data.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [10]:
student = data.drop(['parental level of education'],axis=1 )

In [1]:
student.head()

NameError: name 'student' is not defined

In [14]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [15]:
corelation = student.corr()

In [3]:
sns.pairplot(student)

NameError: name 'student' is not defined

In [ ]:
sns.relplot(x='math score', y='reading score', hue='gender' data=student)

In [1]:
sns.catplot(x='math score',kind= 'box',data=student)

NameError: name 'sns' is not defined