In [1]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]
temperatures

# The expected output 
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

[34, 40, 29, 33, 42, 37, 39]

In [23]:
# Store the highest temperature
max_temp = max(temperatures)
print(max_temp)

42

In [19]:
# Index of the element with the highest temperature
max_temp_index =temperatures.index(42)
print(max_temp_index)

4

In [21]:
# Store the lowest temperature 
min_temp = min(temperatures)
print(min_temp)

29
2

In [24]:
# Index of the element with the lowest temperature
min_temp_index =temperatures.index(29)
print(min_temp_index)

2

# Problem 2 

Measures of Averages
Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
Median is the middle number in a sorted, ascending or descending, list of numbers. If the list has  ùëÅ  numbers where  ùëÅ  is odd, then median is the element in the middle i.e,  (ùëÅ+12)ùë°‚Ñé  element. If  ùëÅ  is even, then median is the mean of  (ùëÅ2)ùë°‚Ñé  and  (ùëÅ2+1)ùë°‚Ñé  elements

In [37]:
# List of product prices
from statistics import mean
prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]
prod_price_list

#mean_price=mean(prod_price_list)
#mean_price = sum(prod_price_list)/len(prod_price_list)
print(mean_price)

1975.0

In [31]:
mean_price

1975.0

In [39]:
from statistics import median
prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]
prod_price_list
median_price=median(prod_price_list)
print(median_price)

# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices =prod_price_list.sort()
print(sorted_prices)

575.0

In [43]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]
prod_price_list.sort()
print(prod_price_list)

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [65]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]
# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']
tech_companies.pop()

j=tech_companies.extend(['Nvidia','Cisco','Samsung'])

print(j)

None